$primary: #8DAA91
$secondary: #4C5B4E
$third: #728975
$four: #EEEFE5

body
  padding-top: 50px
  font-family: 'Varela Round', sans-serif
  background: $four
  color: $secondary

.btn-primary:focus
  outline: none
  background: $secondary
  color: $four !important

.btn-primary
  background: $primary
  border: none
  color: $four

.btn-primary:hover
  background: $third

.btn-primary:active
  background: $secondary !important
  color: $four !important

.btn-primary:hover
  background: $third
  color: $four

.btn-primary:focus
  background: $secondary

.navbar
  a
    color: $four !important
  a:hover
    color: $primary !important

.navbar-default
  background: $secondary
  border: none
  .navbar-toggle
    background: $secondary !important
    border: none
    .icon-bar
      background: $primary

.navbar-toggle:focus
  outline: none

.navbar-collapse
  border: none

.jumbotron
  background-image: url("../img/mtn.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 725px
  .page-header
    color: $secondary

#portfolio
  h1
    text-align: center
    margin-top: 5%
    margin-bottom: 4%
  .brackets
    margin-top: -5%
    width: 100px
    height: 100px
    color: $secondary
  .img-container
    border-radius: 4px
    .image
      position: relative
      border-radius: 5px
      background: $secondary
      h3
        position: absolute
        top: 45%
        left: 10%
        display: none
        color: white
      a
        opacity: 1
      a:hover img
        opacity: 0.2
      a:hover h3
        opacity: 1
        display: block

.row
  margin-bottom: 3%

.img-responsive
  margin-bottom: 8%

#about
  text-align: center
  background: $primary
  padding-top: 6%
  padding-bottom: 6%
  h1
    margin-bottom: 8%
  p
    text-align: left
    font-size: 1.5em
    letter-spacing: 2px
    line-height: 1.5em
    margin: 2%

#contact
  text-align: center
  padding-top: 4%
  padding-bottom: 4%
  h2
    margin-bottom: 5%
  .modal-content
    background: $four
  .form-control
    border: none
  .btn
    margin-bottom: 3%
  .btn-default
    border: none
    margin-bottom: 3%
  textarea
    resize: none

footer
  background: $primary
  padding-top: 4%
  padding-bottom: 4%
  text-align: center
  #email
    color: $four
  ul
    margin-top: 2%
    display: inline-block
    -webkit-padding-start: 0 !important
    -moz-padding-start: 0 !important
  li
    list-style: none
    display: inline-block
  .socialIcon
    width: 50px
    height: 50px
    margin: 2% 1% 0 1%
